.formulario{
    position:relative;
    float: center;
    width: 60%;
    height: 200px;
    /*display: grid;
    grid-template-columns: 60% 38%;
    grid-gap: 2%;
    justify-content: center;*/
}
.formulario formulario_datos{
    float: left;
    width: 60%;
    height: 300px;
}
.formulario img{
    float: right;
    width: 40%;
    height: 300px;
}